/* html {
  font-size: 16px;
}

input {
  font-size: 14px;
} */

/* body {
  font-family: Helvetica, Arial, sans-serif;
} */
.App {
  height: 100vh;
  display: flex;
}

span {
  padding: 5px;
}

button {
  margin: 10px;
}


/* .current-room
{
  background-color: #FEFEFE;
}

.current-room > h4 , .current-room > p{
  margin:3px;
  padding:0;
} */

.messages {
  flex-grow: 1;
  background-color: #FEFEFE;
}

.rooms-header{
  display:flex;
  align-items: center;
}

.rooms-header > span{
  background-color:transparent;
  font-weight: bold;
}

.rooms-header > span:hover{
  cursor: pointer;
}

.rooms-header > h4{
  flex-grow: 1;
}

.message-send {
  display:flex;
  padding:5px;
  background-color: #FEFEFE;
 }

 .message-send > input{
   flex-grow: 1;
   margin-right: 10px;
   padding : 5px;
 }

 /* .message-send > button{
   margin:0;
} */

 
.chat-panel {
  display:flex;
  flex-direction: column;
  background-color: #E9E6EA;
  width: 85%;
  height: 100vh;
}

.chat-panel > div{
  margin:5px;
}

.side-panel {
  height: 100vh;
  width: 15%;
  background-color:#3C2F3E;
  color:white;
  padding: 15px;
}

.side-panel  ul{
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

.side-panel  ul > li{
  cursor: pointer;  
}

/* h1,h2,h3,h4,h5,h6{
  margin:8px;
  padding: 0;
} */